<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bikalp.myplayground.mapper.PaymentMapper">

    <select id="findAllPayments" resultType="com.bikalp.myplayground.entity.Payment">
        SELECT * FROM payments
    </select>

    <select id="findPaymentById" resultType="com.bikalp.myplayground.entity.Payment">
        SELECT * FROM payments WHERE id = #{id}
    </select>

    <select id="findPaymentsByOrderId" resultType="com.bikalp.myplayground.entity.Payment">
        SELECT * FROM payments WHERE order_id = #{orderId}
    </select>

    <select id="findPaymentsByStatus" resultType="com.bikalp.myplayground.entity.Payment">
        SELECT * FROM payments WHERE status = #{status}
    </select>
</mapper> 